ScaleMonitor/Service References/ScaleService/Scale.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Scale" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/mex?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScaleService.Shared" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScaleService_Get_Weight_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Weight" />
  </wsdl:message>
  <wsdl:message name="IScaleService_Get_Weight_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_WeightResponse" />
  </wsdl:message>
  <wsdl:message name="IScaleService_Get_Available_Ports_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Available_Ports" />
  </wsdl:message>
  <wsdl:message name="IScaleService_Get_Available_Ports_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Available_PortsResponse" />
  </wsdl:message>
  <wsdl:message name="IScaleService_Set_Device_InputMessage">
    <wsdl:part name="parameters" element="tns:Set_Device" />
  </wsdl:message>
  <wsdl:message name="IScaleService_Set_Device_OutputMessage">
    <wsdl:part name="parameters" element="tns:Set_DeviceResponse" />
  </wsdl:message>
  <wsdl:portType name="IScaleService">
    <wsdl:operation name="Get_Weight">
      <wsdl:input wsaw:Action="http://tempuri.org/IScaleService/Get_Weight" message="tns:IScaleService_Get_Weight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScaleService/Get_WeightResponse" message="tns:IScaleService_Get_Weight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Available_Ports">
      <wsdl:input wsaw:Action="http://tempuri.org/IScaleService/Get_Available_Ports" message="tns:IScaleService_Get_Available_Ports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScaleService/Get_Available_PortsResponse" message="tns:IScaleService_Get_Available_Ports_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set_Device">
      <wsdl:input wsaw:Action="http://tempuri.org/IScaleService/Set_Device" message="tns:IScaleService_Set_Device_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScaleService/Set_DeviceResponse" message="tns:IScaleService_Set_Device_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Scale" />
</wsdl:definitions>